<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Submit</title>
        <link href="//fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/field.css' %}">
    </head>
    <body>
      <div class="page-header">
          <h1><a href="/">File is ready</a></h1>
      </div>
    <a href={{ link }} download>Download your MP3 file by clicking this link</a>
</body>
</html>
